*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.box {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.input-box-1, .input-box-2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#btn{
    background-color: rgb(40, 223, 223);
    border-radius: 10%;
    border: none;
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
}